body {
  text-align: center;
  color: #fff;
  overflow-x: hidden;
}

#home-overlay {
  background: rgb(13,20,31);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 210vh;
}

.main-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 210vh;
  background: rgb(18,35,43);
}

.text-orange {
  color: #d1671b;
}

#nav-section {
  position: sticky;
  top: 0;
  width: 100vw;
  background: rgba(13,20,31,.8);
  border-bottom: #915110 solid 1px;
}

@media (min-width: 576px) { 
  #nav-section .container {
    padding-left: 0;
  }

  .navbar .container-fluid {
    padding: 0;
  }
}

.navbar-brand img {
  max-height: 70px;
  max-width: 150px;
}

.btn-login {
  background: #d1671b !important;
  color: #fff;
  width: 70px;
  margin-left: 1rem;
  border: none;
}

.xs-btn-login {
  margin-left: auto !important;
  margin-right: .5em;
}

.btn-login:hover {
  background: #f5ab5f !important;
}

#home-section {
  height: 110vh;
}

.home-inner {
  padding-top: 110px;
}

.header-link {
  text-decoration: none;
  color: #d1671b;
}

.header-link:hover {
  text-decoration: none;
  color: #f5ab5f;
}

.signup-card {
  background: rgba(13,20,31,0.8) !important;
}

.signup-error {
  margin-bottom: 0 !important;
}

#learn-btn {
  margin-top: 5rem;
  background: rgba(13,20,31,0.8);
}

#learn-btn:hover {
  background: #f8f9fa;
  color: #000;
  opacity: 90%;
}

#explore-break {
  margin-top: 6rem;
}

#explore {
  color: #fff;
}

.explore-nav {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background: rgba(13,20,31,0.15);
}

.explore-nav .nav-link:hover {
  cursor: pointer;
  color: rgba(255,255,255,.75);
}

.explore-nav .nav-link {
  color: rgba(255,255,255,.5);
}

.explore-nav .nav-link .link-active {
  color: #fff !important;
}

.explore-nav .nav-link i {
  font-size: 1.3em;
  margin-left: .5rem;
}

.left-link {
  margin-right: 2rem;
}

.right-link {
  margin-left: 2rem;
}

.explore-sub {
  background: rgb(18,35,43);
  border-top: 1px solid #915110;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
}

.explore-btn {
  text-align: left !important;
  padding-left: 3rem !important;
  margin-top: .5rem;
}

.btn-stagger {
  background: none !important;
}

#home-footer {
  color: #fff;
  background-image: linear-gradient(rgb(18,35,43), rgb(13,20,31));
  border-top: 1px solid #0a151a;
  position: absolute;
  bottom: 0;
  padding: 50px;
  width: 100%;
}

#footer-logo {
  width: 22px;
}